In [ ]:
pip install google-play-scraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-play-scraper
  Downloading google_play_scraper-1.2.2-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.2

In [ ]:
from google_play_scraper import app
import pandas as pd
import numpy as np

In [ ]:
from google_play_scraper import Sort, reviews_all

reviews = reviews_all(
    'com.fsn.nykaa',      #extract the link from the respective apps' playstore url
                          #Example:"https://play.google.com/store/apps/details?id=com.fsn.nykaa" extract the part after 'id'
    sleep_milliseconds=0, # defaults to 0
    lang='en', # defaults to 'en'
    country='in', # defaults to 'in'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT
)

In [ ]:
df_nyk = pd.DataFrame(np.array(reviews),columns=['review'])


df_nyk = df_nyk.join(pd.DataFrame(df_nyk.pop('review').tolist()))



df_nyk.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,26077c66-953c-49f7-bcda-e9a8d120a08b,Rashid jamal,https://play-lh.googleusercontent.com/a/AItbvm...,It's amazing app,5,0,2.9.8,2022-08-29 15:33:41,None,NaT
1,d4d02d58-93d7-4f53-8f5e-f2e7323b0e2a,Shruti Chowdhury,https://play-lh.googleusercontent.com/a-/AFdZu...,Actually nykaa deserve 0 stars. The customer c...,1,0,2.9.9,2022-08-29 15:23:03,None,NaT
2,1f9291ce-f139-4260-a5eb-aef48be359ba,Afsana PERINGALAM,https://play-lh.googleusercontent.com/a/AItbvm...,Exelent,5,0,2.8.5,2022-08-29 15:19:12,None,NaT
3,94561571-917c-443c-90ff-d140ac328fb2,Deepak Sukhija,https://play-lh.googleusercontent.com/a-/AFdZu...,Ok,5,0,2.9.8,2022-08-29 15:04:56,None,NaT
4,e3cea1dc-f873-4f90-a406-38d4fab3c762,Sanchayita Das,https://play-lh.googleusercontent.com/a-/AFdZu...,Allover it's a nice application for online sho...,4,0,2.8.8,2022-08-29 14:34:32,None,NaT

In [ ]:
pd.DataFrame(df_nyk).to_csv('nykaa.csv',index=False)

In [ ]:
df_nyk.shape

(231925, 10)